asgiref==3.6.0
backports.statistics==0.1.0
blinker==1.5
colorama==0.4.3
cryptography==2.8
Cython==0.29.33
dl==0.1.0
flask_uploads==0.2.1
ipaddr==2.2.0
keyring==18.0.1
mypy_extensions==0.4.3
numpy==1.24.1
ordereddict==1.1
python-dotenv==0.21.1
typing_extensions==4.4.0
watchdog==2.2.1
wincertstore==0.2.1
